<div class="main-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobile.matches ? 'over' : 'side'" [fixedInViewport]="mobile.matches"
            class="sidenav-content">
            <div class="text-center font-weight-light" style="background-color: #fafafa; color: black;">
                <br />
                <br />
                <h2 class="example-app-name">
                    <img src="favicon.ico" style="width: 40px; margin-right: 12px;" />
                    <span>Fraccionamiento</span>
                </h2>
                <br />
                <br />
            </div>

            <mat-nav-list style="padding-top: 0px !important;">
                <app-menu></app-menu>
                <!--<button class="btn grt-btn-primary btn-block" style="text-align: left;">
                    <i class="mdi mdi-location-exit f-15"></i> <span class="font-weight-light">
                        Cerrar Sesión</span>
                    <span style="float:right">
                        <i class="mdi mdi-checkbox-multiple-blank-circle f-11"></i></span>
                </button>-->
            </mat-nav-list>

            <div class="text-center mt-4">
                <span style="font-size: 12px;">GRT - Fraccionamiento</span> <br />
                <span style="font-size: 13.5px;">{{date | date:'fullDate':'pe'}}</span> <br />
                <span style="font-size: 13px;"><b>version 1.0</b></span>
            </div>
        </mat-sidenav>

        <mat-sidenav-content style="background-color: #ededee;">
            <div class="header-login" style="position: absolute; z-index: 100; width: 100%;">
                <button (click)="snav.toggle()" class="btn-sidenav btn grt-btn-primary"
                    style="float:left; font-size: 18px !important;">
                    <i class="ml-2 mr-2 mdi mdi-menu white"></i>
                </button>
                <button class="btn grt-btn-primary btn-block" style="float: right; height: 100%; text-align: left;"
                    (click)="logout(snav)">
                    <i class="mdi mdi-location-exit f-15"></i> <span class="font-weight-light">
                        Cerrar Sesión</span>
                </button>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>