<div class="main-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" #snav [opened]="true" [mode]="'side'">
            <div class="text-center font-weight-light">
                <h2 class="app-title">
                    <img src="favicon.ico" style="width: 70px; margin-right: 12px;" />
                    <span>Templates</span>
                </h2>
            </div>

            <mat-nav-list>
                <app-menu></app-menu>
            </mat-nav-list>

            <div class="app-info">
                <span style="font-size: 12px;">GT - Migración</span> <br />
                <span style="font-size: 13.5px;">{{date | date:'fullDate':'pe'}}</span> <br />
                <span style="font-size: 13px;">versión 1.0</span>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <div class="header">
                <!--<button (click)="snav.toggle()" class="btn-sidenav btn gt-btn-primary"
                    style="float:left; font-size: 18px !important;">
                    <i class="ml-2 mr-2 mdi mdi-men white"></i>
                </button>-->
                <label mat-stroked-button class="tooltip-button" style="font-size: 12.5px"
                    style="float: right; height: 100%; text-align: left; margin-right: 20px;">

                    <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary"
                        style=" background-color: #0078c1;margin-left:10px">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </label>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>Cerrar sesión
                    </button>
                </mat-menu>
            </div>
            <div >
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>