<div class="gt-bg-header">
  <span>
    <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
    Empresa
    <i class="mdi mdi-chevron-right"></i>
    <span>
      Migrar versión
    </span>
  </span>
</div>
<div class="gt-bg-content">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Importar template</ng-template>
      <app-empresa-importar-template></app-empresa-importar-template>

      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-1" style="margin-right: 20px;">
            <button class="gt-btn-primary btn" (click)="siguiente(stepper)" type="button">Siguiente</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Filtrar aplicaciones </ng-template>
      <app-empresa-filtrar-aplicacion></app-empresa-filtrar-aplicacion>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-1">
            <button class="gt-btn-primary btn" (click)="anterior(stepper)" type="button">Anterior</button>
          </div>
          <div class="col-md-1" style="margin-right: 20px;">
            <button class="gt-btn-primary btn" (click)="siguiente(stepper)" type="button">Siguiente</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Cifrado de contraseña</ng-template>
      <app-empresa-cifrado></app-empresa-cifrado>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-1">
            <button class="gt-btn-primary btn" (click)="anterior(stepper)" type="button">Anterior</button>
          </div>
          <div class="col-md-1" style="margin-right: 20px;">
            <button class="gt-btn-primary btn" (click)="siguiente(stepper)" type="button">Siguiente</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Rol agrupador</ng-template>
      <app-empresa-rol-agrupador></app-empresa-rol-agrupador>
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-md-1">
            <button class="gt-btn-primary btn" (click)="anterior(stepper)" type="button">Anterior</button>
          </div>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>