.btn-register-s {
    background-color: #272727;
    border-radius: 0px;
    color: white;
    font-weight: lighter;
}

.gt-background-primary {
    background-color: #096ac6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  .gt-background-white {
    height: 65%;
    background-color: white;
    width: 25%;
    border-radius: 8px;
  }