<div class="gt-bg-header">
    <span>
        <i class="mdi mdi-home mr-1 ml-2 f-15"></i>
        Aplicación
        <i class="mdi mdi-chevron-right"></i>
        <span>
            Migrar versión
        </span>
    </span>
</div>
<div class="gt-bg-content">
    <div class="container">
        <form>
            <div class="m-0 row justify-content-center align-items-center">
                <div class="col-md-2">
                    <label class="text">Convertir de: </label>
                </div>
                <div class="col-md-3">
                    <mat-select placeholder="Seleccionar versión" [(ngModel)]="selectedVersionO" name="versionO"
                        class="form-control">
                        <mat-option [value]="'2.1'">2.1</mat-option>
                        <mat-option [value]="'2.1'">2.3</mat-option>
                    </mat-select>
                </div>
                <div class="col-md-1">
                    <label class="text">a</label>
                </div>
                <div class="col-md-3">
                    <mat-select placeholder="Seleccionar versión" [(ngModel)]="selectedVersionD" name="versionD"
                        class="form-control" readonly>
                        <mat-option selected [value]="'3.03'">3.03</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="row justify-content-end align-items-center" style="margin-top: 20px;">
                <div class="col-md-2">
                    <label class="text">Tipo de rol: </label>
                </div>
                <div class="col-md-3">
                    <mat-select placeholder="Seleccionar tipo" [(ngModel)]="selectedTipo" class="form-control"
                        name="tipo">
                        <mat-option [value]="'OPCION'">OPCION</mat-option>
                        <mat-option [value]="'DATA'">DATA</mat-option>
                        <mat-option [value]="'SERVICIO'">SERVICIO</mat-option>
                    </mat-select>
                </div>
            </div>
        </form>

        <app-file-upload></app-file-upload>
        <!--<div class="container border">
            <div class="row justify-content-center align-items-center" style="margin-top: 20px;">
                <div class="col-md-2">
                    <label class="text">Ruta destino: </label>
                </div>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="path" [(ngModel)]="txtPath"
                        placeholder="Ingrese ruta destino" style="height: 35px; padding: 5px;" />
                </div>
            </div>
        </div>-->

        <div class="m-0 row justify-content-center">
            <div class="col-auto text-center">
                <button class="gt-btn-operacion" type="button" (click)="migrarAplicacion()">Migrar</button>
            </div>
        </div>
    </div>
</div>