<div class="container" style="margin-bottom: 30px;">
    <form>
        <div class="m-0 row justify-content-center">
            <div class="col-auto text-center">
                <input class="form-control" type="file" id="template" name="template" accept=".xml, .XML"
                    (change)="cargarArchivo($event)" />
                <button class="gt-btn-operacion" type="button"
                    onclick="document.getElementById('template').click()">Seleccionar
                    template</button>
            </div>
        </div>

        <div *ngIf="load" class="col-auto text-center" style="margin-top: 20px">
            <div class="col">
                <img src="{{file_xml}}" style="width: 150px;">
            </div>
            <div style="padding-top: 10px;">
                <label style="font-size: 16px">{{nombre_file}}</label>
            </div>
        </div>
    </form>
</div>