<div style="overflow-y: auto; overflow-x: hidden;">

    <button class="btn-item btn" [routerLink]="['inicio']">
        <span class="font-weight-light">INICIO </span>
        <span style="float:right">
            <i class="mdi mdi-menu-right f-18"></i></span>
    </button>

    <button (click)="show(1)" class="btn-item btn">
        <span class="font-weight-light">EMPRESA </span>
        <span style="float:right">
            <i class="mdi mdi-plus f-18"></i></span>
    </button>

    <div *ngIf="modules[0].state" class="ele">
        <button class="btn-menu btn" [routerLink]="['migrarEmpresa']">
            <i class="mdi mdi-menu-right f-18 p-10"></i>Migrar versión
        </button>
        <button class="btn-menu btn" [routerLink]="['migrarEmpresa/filtrar']">
            <i class="mdi mdi-menu-right f-18 p-10"></i>Filtrar aplicaciones
        </button>
        <button class="btn-menu btn" [routerLink]="['migrarEmpresa/cifrado']">
            <i class="mdi mdi-menu-right f-18 p-10"></i>Cifrado de contraseña
        </button>
        <button class="btn-menu btn" [routerLink]="['migrarEmpresa/rolAgrupador']">
            <i class="mdi mdi-menu-right f-18 p-10"></i>Rol agrupador
        </button>
    </div>

    <button class="btn-item btn" [routerLink]="['migrarAplicacion']">
        <span class="font-weight-light">APLICACION </span>
        <span style="float:right">
            <i class="mdi mdi-menu-right f-18"></i></span>
    </button>
</div>